@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin clearFix {
  content: "";
  clear: both;
  display: table;
}

@mixin mediaQueries ($arg) {
  @media (max-width: $arg) {
    @content;
  }
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin grid($prefix) {
  @for $i from 1 through 12 {
    .col-#{$prefix}-#{$i} {
      $width: 100% / 12 * $i;
      flex: 0 0 $width;
      max-width: $width;
    }
  }
}