@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

/* Components */
@import "components/form_field";
@import "components/button-add-new";
@import "components/calendar";
@import "components/chart";
@import "components/form_field";
@import "components/links-table";
@import "components/sidebar";
@import "components/statistic-summary";
@import "components/topnav";


/* Sections */
@import "sections/registration_form";

/* Pages / Views */
@import "pages/registration";
@import "pages/payout-subpage";
@import "pages/banners-subpage";
@import "pages/links-subpage";
@import "pages/personal-data-subpage";

* {
  box-sizing: border-box;
}


body {
  font: 100% $brand-font;
  margin: 0;
  padding: 0;
  background-color: $main-content-background-color;

  .main-container {
    display: flex;
    width: 100%;
   }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

 header,
  .x-content {
    width: 100%;
  }

  .x-content {
    display: flex;
    flex-direction: column;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}