.chart-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 50px;


  .chart-view {
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .\.scroll-wrapper-chart {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  .scroll-wrapper-chart img {
    width: auto;
    max-width: 100%;
    padding: 0 50px;
  }
}
