.main-content {
  @include reset;
  position: absolute;
  top: 80px;
  margin-left: 18%;
  background-color: $sections-color;

  .general-statistic {
    margin: 0 auto;
    height: 800px;
    border-bottom: 1px dotted #000;

    .general-statistic-header {
      text-transform: uppercase;
      font-size: $section-titles-font-size;
      color: $sections-titles-color;
      margin: 1em;
      border-bottom: 1px dotted #000;
    }

  .statistics-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    height: 150px;
  }

  .statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .table-1 {
      width: 40%;
      tr {
        height: 30px;

        td {
          border-bottom: 1px dotted #000;
        }
        .table-content-name {
          font-size: $statistic-summary-font-size;
          color: $table-data-color;
        }
      }
    }
    .table-2 {
      width: 40%;
      tr {
        height: 30px;

        td {
          border-bottom: 1px dotted #000;
        }
        .table-content-name {
          font-size: $statistic-summary-font-size;
          color: $table-data-color;
        }
      }
    }
  }
  }
}


