
header {
  background-color: $header-nav-color;
  height: 4em;
  border-bottom: 1px dotted #000;


  .row {
    @include reset;
    float: right;
    display: flex;
    justify-content: flex-end;

    ul {
      float: right;
      list-style-type: none;
      @include reset;
    }

    li {
      border-right: 1px dotted #000;
      float: left;
    }

    img {
      display: inline-block;
      object-fit: cover;
      width: 20px;
      margin: 20px;
      float: left;
    }
    .arrow-down {
      float: right;
      width: 20px;
      margin-top: 25px;
    }
    .header-sum {
      color: $header-sum-color;
      font-size: $wallet-font-size;
      display: inline-block;
      margin: 18px;
    }
    .header-user-name {
      color: $nav-user-color;
      font-size: $nav-user-name-font-size;
      display: inline-block;
      margin: 20px 20px 20px 0;
      float: right;
    }
  }
}

@media (max-width: 992px) {
      header {
        li {
          visibility: hidden;
        }
      }
}
