.main-content {
  @include reset;
  background-color: $sections-color;

  .general-payout {

    .payout-header {
      text-transform: uppercase;
      font-size: $section-titles-font-size;
      color: $sections-titles-color;
      border-bottom: 1px dotted #000;

      h2 {
        margin-left: 5%;
      }
    }
  }

}

.table-payout {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: $sections-color;
  @include reset;

  .table-payout-general {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .scroll-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;

    }

    .payout-table-content {
      display: flex;
      justify-content: center;
      border-collapse: collapse;
      margin: 50px 50px;

      tr:not(.table-header) {
        &:hover {
          background-color: rgba(177, 191, 91, 0.18);
        }
      }

      th {
        padding-bottom: 20px;
        min-width: 150px;
        width: 20vw;
        color: $table-data-color;

        .date-selector {
          display: inline-block;
          width: 100px;
          padding: 10px 0 10px 0;
          color: #000;
          &:hover {
            background-color: rgba(177, 191, 91, 0.18);
            cursor: pointer;
          }
        }

        svg {
          margin-left: 20px;
          width: 25px;
        }
      }

      td {
        height: 50px;
        border-bottom: 1px solid $table-border;
        text-align: center;
        font-size: 14px;
        color: $payouts-table-data-color;
        }
      }

    }
    .pagination-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-bottom: 50px;
    }
  }



@media (max-width: 992px) {
  .scroll-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  .scroll-wrapper table {
    width: 100%;
    min-width: 750px;
    padding: 0 50px;
    margin: 0 50px;
  }
}
